@model Application.ViewModels.Pokemon.SavePokemonViewModel
@{
}

<main class="container-fluid d-flex justify-content-center">
    <div class="col-10 d-flex align-items-center flex-column">
        <div class="card col-6">
            <div class="card-header bg-dark text-center">
                <h3 class="text-white">Seguro desea eliminar el pokemon <span class="text-danger">@Model.Name?</span></h3>
            </div>
            <div class="card-body">
                <form method="post" asp-controller="Pokemones" asp-action="DeletePost">

                    <input type="hidden" asp-for="Id" />

                    <div class="w-100 btn-group d-flex justify-content-between">
                        <div class="d-flex justify-content-start" style="width: 40%;">
                            <button asp-controller="Pokemones" asp-action="Index" class="btn btn-secondary">Volver a atras</button>
                        </div>
                        <div class="d-flex justify-content-end" style="width: 40%;">
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>