@model Application.ViewModels.PokemonType.SavePokemonTypeViewModel
@{
    bool editMode = Model.Id != 0 ? true : false;
}

<main class="container-fluid d-flex justify-content-center">
    <div class="col-10 d-flex align-items-center flex-column">
        <div class="card col-6">
            <div class="card-header bg-dark text-center">
                <h3 class="text-white">@(editMode ? $"Editando pokemon {Model.Name}" : "Creando un nuevo tipo de pokemon")</h3>
            </div>
            <div class="card-body">
                <form method="post" asp-controller="PokemonType" asp-action="@(editMode ? "EditPost": "Create")">
                    <div class="mb-3">
                        <label asp-for="Name" class="form-label">Nombre tipo pokemon</label>
                        <input asp-for="Name"  class="form-control" id="" placeholder="Ej: Electrico..">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <input type="hidden" asp-for="Id" />

                    <div class="w-100 btn-group d-flex justify-content-between">
                        <div class="d-flex justify-content-start" style="width: 40%;">
                            <button asp-controller="PokemonType" asp-action="Index" class="btn btn-secondary">Volver a atras</button>
                        </div>
                        <div class="d-flex justify-content-end" style="width: 40%;">
                            <button type="submit" class="btn btn-success">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>